audiofile==0.4.2
audioread==2.1.9
h5py==3.1.0
kapre==0.1.7
Keras==2.4.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keras-vggface @ git+https://github.com/rcmalli/keras-vggface.git@719ad75625fe51436b9a9479114b3d136847e11a
librosa==0.8.0
matplotlib==3.3.4
moviepy==1.0.3
numba==0.53.1
numpy==1.19.5
opencv-python==4.5.2.52
resampy==0.2.2
scikit-learn==0.24.2
scipy==1.5.4
sklearn==0.0
SoundFile==0.10.3.post1
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.5.0
tensorflow-addons==0.13.0
tensorflow-estimator==2.5.0
tensorflow-hub==0.12.0
UNKNOWN @ git+https://github.com/shaoanlu/face_toolbox_keras.git@ffc355d53f1db3c245861c92550f610f900b8389
